RUST_LOG=info

DATABASE_URL="postgres://postgres:postgres@localhost:5432/cartography"
TEST_DATABASE_URL="postgres://postgres:postgres@localhost:5432/cartography-test"
SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:5432/shadow"
ROOT_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"

WEBSOCKET_PROTOCOLS="json"
PORT=12000

PUBLIC_ENV=localhost
PUBLIC_SERVER_URL=http://localhost:12000
PUBLIC_SERVER_WS_URL=ws://localhost:12000
PUBLIC_SENTRY_DSN=
