@property --grid-gap {
  syntax: "<length>";
  inherits: false;
  initial-value: 1rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: auto;
  align-content: start;
  gap: var(--grid-gap, 1rem);
}

.card {
  width: 100%;
  aspect-ratio: 2.5 / 3.5;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.125);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  transition:
    transform 200ms,
    box-shadow 200ms,
    opacity 100ms;
}

.title {
  padding: 0.25rem;
  border: 1px solid rgb(0 0 0 / 0.12);
  white-space: nowrap;
}

.image {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: rgb(0 0 0 / 0.1);
}

.info {
  border: 1px solid rgb(0 0 0 / 0.12);
  flex-grow: 1;
  padding: 0.25rem;
}
