.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

.controls,
.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.controls {
    border-right: 1px solid rgb(0 0 0 / 0.12);
}

.fields {
    padding-inline: 1rem;
}

.back-button {
    display: block;
    padding: 0.5rem 1rem;

    &:hover {
      background: rgb(0 0 0 / 0.1);
    }
}

.gridarea {
    padding: 1rem;
}

input {
    padding: 0.25rem;
    min-width: 32ch;
}
