name: Gleam CI
on: push

env:
  DATABASE_URL: postgresql://postgres:postgres@localhost/cartography

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-gleam-${{ hashFiles('**/manifest.toml') }}
          restore-keys: ${{ runner.os }}-gleam-
      - name: Install dependencies
        run: gleam deps download
        working-directory: ./server
      - name: Test server
        run: gleam test
        working-directory: ./server
      - name: Test API
        run: gleam test
        working-directory: ./api

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-gleam-${{ hashFiles('**/manifest.toml') }}
          restore-keys: ${{ runner.os }}-gleam-
      - name: Format server
        run: gleam format --check
        working-directory: ./server
      - name: Format API
        run: gleam format --check
        working-directory: ./api

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-gleam-${{ hashFiles('**/manifest.toml') }}
          restore-keys: ${{ runner.os }}-gleam-
      - name: Install dependencies
        run: gleam deps download
        working-directory: ./server
      - name: Check server
        run: gleam check
        working-directory: ./server
      - name: Check API
        run: gleam check
        working-directory: ./api
