name: Rust CI

on: push

jobs:
  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust
        run: |
          rustup install stable
          rustup component add clippy
          rustup default stable
          cargo install sqlx-cli
      - name: Run cargo clippy
        run: |
          cargo clippy -- -D warnings
          cargo sqlx prepare --workspace --check -- --all-targets --all-features
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust
        run: |
          rustup install stable
          rustup component add rustfmt
          rustup default stable
          cargo install sqruff --locked
          cargo install --git https://github.com/jflessau/sqlx-fmt --locked
      - name: Run cargo fmt
        run: |
          cargo fmt -- --check
          sqlx-fmt check
          sqruff lint
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust
        run: |
          rustup install stable
          rustup default stable
      - name: Run cargo check
        run: cargo check
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "postgresql://postgres:postgres@localhost/cartography"
      SHADOW_DATABASE_URL: "postgresql://postgres:postgres@localhost/shadow"
      ROOT_DATABASE_URL: "postgresql://postgres:postgres@localhost/postgres"
      SQLX_OFFLINE: "true"
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: cartography
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: app/.node-version
          cache-dependency-path: app/package-lock.json
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust
        run: |
          rustup install stable
          rustup default stable
      - name: Run migrate
        run: npx graphile-migrate migrate
      - name: Run cargo test
        run: cargo test
