name: SQL CI
on: push

env:
  DATABASE_URL: postgresql://postgres:postgres@localhost/cartography
  SHADOW_DATABASE_URL: postgresql://postgres:postgres@localhost/shadow
  ROOT_DATABASE_URL: postgresql://postgres:postgres@localhost/postgres

jobs:
  migrate:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: cartography
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Check status
        run: npx graphile-migrate status --skipDatabase
      - name: Run migrate
        run: npx graphile-migrate migrate
      - name: Check squirrel
        run: gleam run -m squirrel check
        working-directory: ./server
