name: TypeScript CI
on: push

env:
  PUBLIC_SERVER_URL: "http://localhost:4000"
  PUBLIC_SERVER_WS_URL: "ws://localhost:4000"

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
      - name: Run fmt
        run: npx prettier . --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Build API
        run: gleam build --target javascript
        working-directory: ./api
      - name: Install node_modules
        run: npm ci
      - name: Run lint
        run: npx eslint . --max-warnings 0

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
      - name: Build API
        run: gleam build --target javascript
        working-directory: ./api
      - name: Run check
        run: |
          set -e
          npx svelte-kit sync
          npx svelte-check --tsconfig ./tsconfig.json

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
      - name: Build API
        run: gleam build --target javascript
        working-directory: ./api
      - name: Run build
        run: npx vite build

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          gleam-version: "1.14.0"
          otp-version: "27"
          rebar3-version: "3.25.1"
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
      - name: Build API
        run: gleam build --target javascript
        working-directory: ./api
      - name: Run test
        run: npm test
