name: TypeScript CI
on: push

env:
  PUBLIC_SERVER_URL: "http://localhost:4000"
  PUBLIC_SERVER_WS_URL: "ws://localhost:4000"

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
      - name: Run fmt
        run: npx prettier . --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
        working-directory: ./app
      - name: Run lint
        run: npx eslint . --max-warnings 0
        working-directory: ./app

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
        working-directory: ./app
      - name: Run check
        run: |
          set -e
          npx svelte-kit sync
          npx svelte-check --tsconfig ./tsconfig.json
        working-directory: ./app

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
      - name: Install node_modules
        run: npm ci
        working-directory: ./app
      - name: Run build
        run: npx vite build
        working-directory: ./app

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .node-version
        working-directory: ./app
      - name: Install node_modules
        run: npm ci
      - name: Run test
        run: npm test
        working-directory: ./app
